.sdb-container {
    min-height: 100vh;
    width: 100vw;
    max-width: 500px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #433B55, #1E183E);
}


.sdb-header {
    background-color: #1D2026;
    position: fixed;
    width: 100%;
    max-width: 500px;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sdb-exit {
    padding: 1em;
}

.sdb-content {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.sdb-title,
.sdb-mail {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.sdb-mail {
    font-size: 12px;
}


.sdb-status {
    margin: 6.5em 1em 1em;
    background-color: #1D2026;
    color: white;
    border-radius: 15px;
}

.sdb-status-title {
    text-align: left;
    margin: 1em;
}

.sdb-status-option {
    display: flex;
    justify-content: space-between;
    columns: white;
    align-items: center;
}

.sdb-status-button {
    height: 2em;
    width: 4em;
    margin-right: 2em;
    background-color: #b13333;
    border-radius: 1.5em;
    transition: background-color 0.2s ease;
    
}

.sdb-status-button.active{
    background-color: green;
}

.sdb-status-knob {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    margin: 0.25em;
    background-color: #1D2026;

}

.sdb-status-knob.active{
    transform: translateX(2em);
}

.sdb-status-circle {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-left: 1em;
    transition: background-color .2s ease;
}

.sdb-status-view {
    background-color: #d1d5db;
    color: green;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 1.2em;
    margin: 1em;

}

.sdb-status-text {
    font-size: 0.8em;
    margin-left: 0.5em;
    margin-right: 1em;
    transition: color 0.2s ease;
}

.sdb-details {
    margin: 1em;
    background-color: #1D2026;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sdb-details-title {
    margin: 1em;
}

.sdb-details-subtitle {
    margin: 0 1rem;
    font-size: 0.7em;
}

.sdb-details-value {
    margin: 1em 2em;
}

.sdb-image-container {
    margin: 1em;
    background-color: #1D2026;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;


}

.sdb-image-title {
    display: flex;
    margin: 0 1em;
    font-weight: bold;
}

.sdb-image {
    margin: 0 1em;
    border-radius: 15px;
}

.sdb-upload-button {
    background-color: #1D2026;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 1em;
    padding: 0px;
    border-radius: 15px;
}

.sdb-upload-container {
    display: flex;
    font-weight: bold;
}

.sdb-upload-img {
    width: 1.5em;
    margin: 0 1em;
}

.sdb-save-button {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: 1em 1em;
    padding: 0px;
    border-radius: 15px;

}

.sdb-save-container {

    display: flex;
    margin: 0;
    padding: 0px;
    font-weight: bold;

}

.sdb-save-img {
    width: 1.5em;
    margin: 0 1em;
}